body{
  margin: 0px;
}

.app-icon{
  padding: 12px;
}

.main_container{
  // background-color: #FBEDB8;
}

.main_container .header-link-grid a{
  text-decoration: none;
}

.normal-header-typography{
  size: 16px;
  font-weight: 600 !important;
}

.MuiAutocomplete-root .MuiOutlinedInput-root{
  background: #fff;
}