body{
  margin: 0px;
}

.main_container{
  background-color: cornflowerblue;
}

.main_container .header-link-grid a{
  text-decoration: none;
}

.normal-header-typography{
  size: 16px;
  font-weight: 600 !important;
}